<%- include('./partials/head.ejs') %>

<img
  class="main-img"
  src="https://fivespark.com/hs-fs/hubfs/Stock%20foto%20s/Homepage%20banner-1-2.png?width=1920&amp;name=Homepage%20banner-1-2.png"
  alt="banner Image"
  srcset="
    https://fivespark.com/hs-fs/hubfs/Stock%20foto%20s/Homepage%20banner-1-2.png?width=960&amp;name=Homepage%20banner-1-2.png   960w,
    https://fivespark.com/hs-fs/hubfs/Stock%20foto%20s/Homepage%20banner-1-2.png?width=1920&amp;name=Homepage%20banner-1-2.png 1920w,
    https://fivespark.com/hs-fs/hubfs/Stock%20foto%20s/Homepage%20banner-1-2.png?width=2880&amp;name=Homepage%20banner-1-2.png 2880w,
    https://fivespark.com/hs-fs/hubfs/Stock%20foto%20s/Homepage%20banner-1-2.png?width=3840&amp;name=Homepage%20banner-1-2.png 3840w,
    https://fivespark.com/hs-fs/hubfs/Stock%20foto%20s/Homepage%20banner-1-2.png?width=4800&amp;name=Homepage%20banner-1-2.png 4800w,
    https://fivespark.com/hs-fs/hubfs/Stock%20foto%20s/Homepage%20banner-1-2.png?width=5760&amp;name=Homepage%20banner-1-2.png 5760w
  "
  sizes="(max-width: 1920px) 100vw, 1920px"
  loading="lazy"
/>



<h1 class="title-page">Managed Services - Digitale Werkplek </h1>

<p class="text-onder-head">Met de Digitale Werkplek nemen wij je werkzaamheden uit handen en zorgen ervoor dat je werknemers op 
ieder moment veilig en optimaal kunnen werken.</p>


<section class="abonnementen">
  <div class="abonnement">
    <div class="gele-kader"><h3 class="soort">Standard</h3></div>

    <h3>€ 9.00</h3>
      
      <!-- BASIC ABONNEMENT INFO -->
      <div class="table-responsive">
        <table class="table table-primary">
          <thead>
            <tr>
              <th class="activities-head" scope="col">Activiteiten</th>
            
            </tr>
          </thead>

          <tbody>
            <% contract_basic.forEach(activity => { %> <%
            activityTranslations.data.forEach(activityTranslation => { %> <% if
            (activity.activities_id === activityTranslation.activities_id &&
            activityTranslation.languages_code === language) { %>
            <tr>
              <td><p class="activities"><%- activityTranslation.title %></p></td>
             

              <% if (activity.charged_minutes === 0) { %>

              <td>
                <img
                  src="./Check_icon.svg"
                  alt="rondje met vinkje er in."
                />
              </td>

              <% } else { %>

              <td>
                <img
                  src="./X_icon.svg"
                  alt="rondje met kruisje er in."
                />
              </td>

              <% } %>
            </tr>
            <% } %> <% }) %> <% }) %>
          </tbody>
        </table>
      </div>

       <div class="homepage-btn">
      <button class="test-btn"><h4>Kies abonnement</h4></button>
    </div>
  </div>

  

  <div class="abonnement">
    <div class="gele-kader"><h3 class="soort">Premium</h3></div>
     <h3>€ 49.00</h3>
     

      <!-- PREMIUM ABONNEMENT INFO -->
      <div class="table-responsive">
        <table class="table table-primary">
          <thead>
            <tr>
              <th class="activities-head" scope="col">Activiteiten</th>
           
            </tr>
          </thead>
          <tbody>
            <% contract_complete.forEach(activity => { %> <%
            activityTranslations.data.forEach(activityTranslation => { %> <% if
            (activity.activities_id === activityTranslation.activities_id) { %>
            <tr class="">
              <td><p class="activities"><%- activityTranslation.title %></p></td>
             
              <% if (activity.charged_minutes === 0) { %>
              <td>
                <img
                  src="./Check_icon.svg"
                  alt="rondje met vinkje er in."
                />
              </td>
              <% } else { %>
              <td>
                <img
                  src="./X_icon.svg"
                  alt="rondje met kruisje er in."
                />
              </td>
              <% } %>
            </tr>
            <% } %> <% }) %> <% }) %>
          </tbody>
        </table>
      </div>

    <div class="homepage-btn">
      <button class="test-btn">
        <h4 class="bekijk-abonnement">Kies abonnement</h4>
      </button>

    </div>
  </div>


  
  <div class="abonnement">
    <div class="gele-kader"><h3 class="soort">Complete</h3></div>
    <h3>€ 99.00</h3>

      

      <!-- COMPLETE ABONNEMENT INFO -->
		<div class="table-responsive">
			<table class="table table-primary">
				<thead>
					<tr>
						<th class="activities-head" scope="col">Activiteiten</th>
						
					</tr>
				</thead>
		<tbody>
		  <% contract_premium.forEach(activity => { %>
			<% activityTranslations.data.forEach(activityTranslation => { %>
			<% if (activity.activities_id === activityTranslation.activities_id) { %>
				<tr class="">

				<td><p class="activities"><%- activityTranslation.title %></p></td>
				

                                    
				<% if (activity.charged_minutes === 0) { %>
						<td><img src="./Check_icon.svg" alt="rondje met vinkje er in."></td>
						<% } else { %>
						<td><img src="./X_icon.svg" alt="rondje met kruisje er in."></td>

				<% } %>
		</tr>
					<% } %>
				<% }) %>
			<% }) %>

		</tbody>
		</table>
		</div>

     <div class="homepage-btn">
      <button class="test-btn">
        <h4>Kies abonnement</h4>
      </button>

    </section>
</div>
 </div>
</div>
</section>


<%- include('./partials/foot.ejs') %>
