<%- include('./partials/head.ejs') %>

<img
  class="main-img"
  src="https://fivespark.com/hs-fs/hubfs/Stock%20foto%20s/Homepage%20banner-1-2.png?width=1920&amp;name=Homepage%20banner-1-2.png"
  alt="banner Image"
  srcset="
    https://fivespark.com/hs-fs/hubfs/Stock%20foto%20s/Homepage%20banner-1-2.png?width=960&amp;name=Homepage%20banner-1-2.png   960w,
    https://fivespark.com/hs-fs/hubfs/Stock%20foto%20s/Homepage%20banner-1-2.png?width=1920&amp;name=Homepage%20banner-1-2.png 1920w,
    https://fivespark.com/hs-fs/hubfs/Stock%20foto%20s/Homepage%20banner-1-2.png?width=2880&amp;name=Homepage%20banner-1-2.png 2880w,
    https://fivespark.com/hs-fs/hubfs/Stock%20foto%20s/Homepage%20banner-1-2.png?width=3840&amp;name=Homepage%20banner-1-2.png 3840w,
    https://fivespark.com/hs-fs/hubfs/Stock%20foto%20s/Homepage%20banner-1-2.png?width=4800&amp;name=Homepage%20banner-1-2.png 4800w,
    https://fivespark.com/hs-fs/hubfs/Stock%20foto%20s/Homepage%20banner-1-2.png?width=5760&amp;name=Homepage%20banner-1-2.png 5760w
  "
  sizes="(max-width: 1920px) 100vw, 1920px"
/>

<!-- <% contract_basic.forEach(activity => { %> <%
activityTranslations.data.forEach(activityTranslation => { %> <% if
(activity.activities_id === activityTranslation.id &&
activityTranslation.languages_code === language) { %>
<tr>
  <td><%- activityTranslation.title %></td>
  <td>Tooltip</td>
  <% if (activity.charged_minutes === 0) { %>
  <td>Inbegrepen</td>
  <% } else { %>
  <td>Niet inbegrepen</td>
  <% } %>
</tr>
<% } %> <% }) %> <% }) %> -->

<!-- <h2 class="title-page">Fivespark is een full service providert</h2> -->
<!-- <% selectedContracts.forEach(contract => { %>
<p>mmt</p>
<% }) %> -->

<!-- <% selectedContracts.forEach((item) => { %>

  <h2>Item ID: <%= item.id %></h2>
  <p>Cost Price: <%= item.cost_price %></p>
  <p>List Price: <%= item.list_price %></p>
  <h3>Activities:</h3>

  <ul>

    <%# item.activities.forEach((activity) => { %>

      <li><%# activity %></li>

    <%# }); %>

  </ul>
<%# }); %> -->

<!-- <h3>Kies jouw pakket</h3> -->

<!-- <%# activities.forEach(function(item) { %>

<p>Activity <%# item.title %></p>
<p>minutes: <%# item.minutes %></p>
<p>date_created: <%# item.date_created %></p>

<% }); %> -->

<section class="abonnementen">
  <div class="abonnement">
    <div class="gele-kader"><h3 class="soort">Standard</h3></div>

    <h3>...</h3>
    <div class="homepage-btn">
      <button class="test-btn"><h4>Bekijk abonnement</h4></button>
      <h4>Bekijk voordelen</h4>

      <!-- BASIC ABONNEMENT INFO -->
      <div class="table-responsive">
        <table class="table table-primary">
          <thead>
            <tr>
              <th scope="col">Activiteit</th>
              <th scope="col">---</th>
              <th scope="col">---</th>
            </tr>
          </thead>

          <tbody>
            <% contract_basic.forEach(activity => { %> <%
            activityTranslations.data.forEach(activityTranslation => { %> <% if
            (activity.activities_id === activityTranslation.activities_id &&
            activityTranslation.languages_code === language) { %>
            <tr>
              <td><%- activityTranslation.title %></td>
              <td>Tooltip</td>

              <% if (activity.charged_minutes === 0) { %>

              <td>
                <img
                  src="./Check_icon.svg"
                  alt="rondje met vinkje er in."
                />
              </td>

              <% } else { %>

              <td>
                <img
                  src="./X_icon.svg"
                  alt="rondje met kruisje er in."
                />
              </td>

              <% } %>
            </tr>
            <% } %> <% }) %> <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="abonnement">
    <div class="gele-kader"><h3 class="soort">Premium</h3></div>
    <h3>...</h3>

    <div class="homepage-btn">
      <button class="test-btn">
        <h4 class="bekijk-abonnement">Bekijk abonnement</h4>
      </button>
      <h4>Bekijk voordelen</h4>

      <!-- PREMIUM ABONNEMENT INFO -->
      <div class="table-responsive">
        <table class="table table-primary">
          <thead>
            <tr>
              <th scope="col">Activiteit</th>
              <th scope="col">---</th>
              <th scope="col">---</th>
            </tr>
          </thead>
          <tbody>
            <% contract_complete.forEach(activity => { %> <%
            activityTranslations.data.forEach(activityTranslation => { %> <% if
            (activity.activities_id === activityTranslation.id) { %>
            <tr class="">
              <td><%- activityTranslation.title %></td>
              <td>Tooltip</td>
              <% if (activity.charged_minutes === 0) { %>
              <td>
                <img
                  src="./Check_icon.svg"
                  alt="rondje met vinkje er in."
                />
              </td>
              <% } else { %>
              <td>
                <img
                  src="./X_icon.svg"
                  alt="rondje met kruisje er in."
                />
              </td>
              <% } %>
            </tr>
            <% } %> <% }) %> <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="abonnement">
    <div class="gele-kader"><h3 class="soort">Complete</h3></div>
    <h3>€ 9.95</h3>
    <div class="homepage-btn">
      <button class="test-btn">
        <h4>Bekijk abonnement</h4>
      </button>
      <h4>Bekijk voordelen</h4>

      <!-- COMPLETE ABONNEMENT INFO -->
		<div class="table-responsive">
			<table class="table table-primary">
				<thead>
					<tr>
						<th scope="col">Activiteit</th>
						<th scope="col">---</th>
						<th scope="col">---</th>
					</tr>
				</thead>
		<tbody>
		  <% contract_premium.forEach(activity => { %>
			<% activityTranslations.data.forEach(activityTranslation => { %>
			<% if (activity.activities_id === activityTranslation.id) { %>
				<tr class="">

				<td><%- activityTranslation.title %></td>
				<td>Tooltip</td>

                                    
				<% if (activity.charged_minutes === 0) { %>
						<td><img src="./Check_icon.svg" alt="rondje met vinkje er in."></td>
						<% } else { %>
						<td><img src="./X_icon.svg" alt="rondje met kruisje er in."></td>

				<% } %>
		</tr>
					<% } %>
				<% }) %>
			<% }) %>

		</tbody>
		</table>
		</div>
    </section>
</div>
 </div>
</div>
</section>


<%- include('./partials/foot.ejs') %>
