<%- include('./partials/head.ejs') %>

<!-- <h2 class="title-page">Fivespark is een full service providert</h2> -->
<% selectedContracts.forEach(contract => { %>
<p>pakket</p>
<% }) %>

<h3>Kies jouw pakket</h3>

<% activities.forEach(function(item) { %>
<p>Activity <%= item.title %></p>
<p>minutes: <%= item.minutes %></p>
<p>date_created: <%= item.date_created %></p>
<% }); %>

<section class="abonnementen">
  <div class="abonnement">
    <div class="gele-kader"><h3 class="soort">Standard</h3></div>

    <h3>...</h3>
    <div class="homepage-btn">
      <button class="test-btn"><h4>Bekijk abonnement</h4></button>
      <button class="test-btn"><h4>Bekijk voordelen</h4></button>
    </div>
  </div>

  <div class="abonnement">
    <div class="gele-kader"><h3 class="soort">Premium</h3></div>
    <h3>...</h3>
    <div class="homepage-btn">
      <button class="test-btn">
        <h4>Bekijk abonnement</h4>
      </button>
      <button class="test-btn"><h4>Bekijk voordelen</h4></button>
    </div>
  </div>

  <div class="abonnement">
    <div class="gele-kader"><h3 class="soort">Complete</h3></div>
    <h3>€ 9.95</h3>
    <div class="homepage-btn">
      <button class="test-btn">
        <h4>Bekijk abonnement</h4>
      </button>
      <button class="test-btn"><h4>Bekijk voordelen</h4></button>
    </div>
  </div>
</section>

<%- include('./partials/foot.ejs') %>
