<%- include('./partials/head.ejs') %>

 

   <section id="hero" aria-label="Hero Section">
      <div class="hero container">

        <div>

          <h1 class="top-page"> Fivespark is een full</h1>
          <h1>service provider die </h1>
          <h1 class="top-page">IT weer makkelijk maakt</h1>
          <!-- <p>Managed Services, Software Development, Connectiviteit, Hardware en Adoptie.
            Alles op één plek, met één aanspreekpunt. Samen werken we aan de allerbeste digitale 
            werkplek voor jou en je collega’s.</p> -->

            <!-- <div class="homepage-btn">
                 <button class="test-btn"><h4>Bekijk de mogelijkheden</h4></button>
            </div>  -->

        </div>
      </div>
    </section>

<h1 class="title-page">Managed Services - Digitale Werkplek </h1>

<p class="text-onder-head">Met de Digitale Werkplek nemen wij je werkzaamheden uit handen en zorgen ervoor dat je werknemers op 
ieder moment veilig en optimaal kunnen werken.</p>


<section class="abonnementen">
  <div class="abonnement">
    <div class="gele-kader"><h3 class="soort">Standard</h3></div>

    <div class="price-area">
        <h3>€9.00</h3>
         <p class="per-maand-text">per gebruiker per maand</p>
         <p class="activities-head">Activiteiten</p>
    </div>
      
      <!-- BASIC ABONNEMENT INFO -->
      <div class="table-responsive">
        <table class="table table-primary">
         

          <tbody>
            <% contract_basic.forEach(activity => { %> <%
            activityTranslations.data.forEach(activityTranslation => { %> <% if
            (activity.activities_id === activityTranslation.activities_id &&
            activityTranslation.languages_code === language) { %>
            <tr>
              <td><p class="activities"><%- activityTranslation.title %></p></td>
             

              <% if (activity.charged_minutes === 0) { %>

              <td>
                <img
                  src="./Check_icon.svg"
                  alt="rondje met vinkje er in."
                />
              </td>

              <% } else { %>

              <td>
                <img
                  src="./X_icon.svg"
                  alt="rondje met kruisje er in."
                />
              </td>

              <% } %>
            </tr>
            <% } %> <% }) %> <% }) %>
          </tbody>
        </table>
      </div>

       <div class="homepage-btn">
      <button class="test-btn"><h4>Kies abonnement</h4></button>
    </div>
  </div>

  

  <div class="abonnement">
    <div class="gele-kader"><h3 class="soort">Premium</h3></div>
     <div class="price-area">
        <h3>€49.00</h3>
         <p class="per-maand-text">per gebruiker per maand</p>
         <p class="activities-head">Activiteiten</p>
    </div>

      <!-- PREMIUM ABONNEMENT INFO -->
      <div class="table-responsive">
        <table class="table table-primary">
          
          <tbody>
            <% contract_complete.forEach(activity => { %> <%
            activityTranslations.data.forEach(activityTranslation => { %> <% if
            (activity.activities_id === activityTranslation.activities_id) { %>
            <tr class="">
              <td><p class="activities"><%- activityTranslation.title %></p></td>
             
              <% if (activity.charged_minutes === 0) { %>
              <td>
                <img
                  src="./Check_icon.svg"
                  alt="rondje met vinkje er in."
                />
              </td>
              <% } else { %>
              <td>
                <img
                  src="./X_icon.svg"
                  alt="rondje met kruisje er in."
                />
              </td>
              <% } %>
            </tr>
            <% } %> <% }) %> <% }) %>
          </tbody>
        </table>
      </div>

    <div class="homepage-btn">
      <button class="test-btn">
        <h4 class="bekijk-abonnement">Kies abonnement</h4>
      </button>

    </div>
  </div>


  
  <div class="abonnement">
    <div class="gele-kader"><h3 class="soort">Complete</h3></div>
     <div class="price-area">
        <h3>€99.00</h3>
         <p class="per-maand-text">per gebruiker per maand</p>
         <p class="activities-head">Activiteiten</p>
    </div>

      <!-- COMPLETE ABONNEMENT INFO -->
		<div class="table-responsive">
			<table class="table table-primary">
				
		<tbody>
		  <% contract_premium.forEach(activity => { %>
			<% activityTranslations.data.forEach(activityTranslation => { %>
			<% if (activity.activities_id === activityTranslation.activities_id) { %>
				<tr class="">

				<td><p class="activities"><%- activityTranslation.title %></p></td>
				

                                    
				<% if (activity.charged_minutes === 0) { %>
						<td><img src="./Check_icon.svg" alt="rondje met vinkje er in."></td>
						<% } else { %>
						<td><img src="./X_icon.svg" alt="rondje met kruisje er in."></td>

				<% } %>
		</tr>
					<% } %>
				<% }) %>
			<% }) %>

		</tbody>
		</table>
		</div>

     <div class="homepage-btn">
      <button class="test-btn">
        <h4>Kies abonnement</h4>
      </button>

    </section>
</div>
 </div>

 <div class="image-container">

    <picture>
 <source srcset="Consultancy gesprek-2.webp" type="image/webp">
 <img src="Consultancy gesprek-2.webp" class="main-img" loading="lazy" alt="5 sparks gesprek image" width="50px" height="30px">
   </picture>
 
  <div class="overlay"></div>
</div>

 <div class="image-container">

    <picture>
 <source srcset="Consultancy gesprek-2.webp" type="image/webp">
 <img src="Consultancy gesprek-2.webp" class="main-img" loading="lazy" alt="5 sparks gesprek image" width="50px" height="30px">
   </picture>
 
  <div class="overlay"></div>
</div>


</div>

</div>
</section>





<%- include('./partials/foot.ejs') %>
